<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>사용자 등록</title>
</head>
<body>
    <h1>Register</h1>

    <form method="post" th:action="@{/api/user/register}" id="registerForm">
        <label>Username: </label>
        <input type="text" name="userName"/>

        <label>Password: </label>
        <input type="text" name="password"/>

        <input type="submit" value="Register"/>
    </form>

</body>
</html>